.root {
  padding-left: 20px;
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(1,19,39,1) 100%, rgba(1,34,71,1) 100%, rgba(0,212,255,1) 100%, rgba(1,7,18,1) 100%, rgba(1,36,73,1) 100%, rgba(1,57,95,1) 100%, rgba(1,102,141,1) 100%);
  }
 
  /* --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1); */


* {
  scroll-behavior: smooth;
}
.home {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 600px;
  /* background-color: #07090a;  */
  /* margin-top: 100px; */
  /* padding: 15px; */
  /* padding-top: 100px; */
}

.bill {
  height: 70vh;
  display: flex;
  justify-content: center;
  /* align-items: left; */
  flex-direction: column;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 500px;
  /* background-color: #07090a;  */
  /* margin-top: 100px; */
  padding: 15px;
  margin-top: 20px;
  margin-right: 50px;
}

.card {
  height: 90vh;
  display: flex;
  justify-content: center;
  /* align-items: left; */
  flex-direction: column;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 500px;
  /* background-color: #07090a;  */
  /* margin-top: 100px; */
  padding: 30px;
  margin-top: 20px;
  margin-left: 50px;
}

.headerContainer {
  width: auto;
  margin-left: 30px;
}

 .headerContainer h1 {
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 70px;
  font-family: 'Poppins';
  color: white;
}

.headerContainer p {
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 70px;
  font-family: 'Poppins';
  color: white;
}




.btnn {
  padding: 18px;
  padding-left: 25px;
  padding-right: 25px     ;
  margin-top: 40px;
  border-radius: 30px;
  font-weight: 560;
  outline: none;
  border: none;
  font-size: 15px;
  color: black ;
  cursor: pointer;
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
}

.btnn:hover {
  /* padding: 6px 18px; */
  padding: 18px;
  margin-top: 40px;
  border-radius: 30px;
  transition: all 0.3s ease-out;
  background-color: transparent;
  /* color: #fff; */
  border-radius: 8px;
  border: 2px solid var(--primary);
  transition: all 0.3s ease-out;
}




.flex-container {
  display: flex;
  justify-content: space-around;
  /* background-color: black; */
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right:110px;
  padding-left: 60px;
}
.stat {
  font-family: 'Poppins';
  color: #ffffff; 
font-weight: 600; 
color: 30.89px;
font-size: x-large;
}
.stat .p {
  font-family: 'Poppins';
  font-size: small;
}
.text-gradient {
  font-family: 'Poppins';
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
/* mobile view  */

@media only screen and (max-width: 600px) {
  .home {
    justify-content: center;
    align-items: center;
  }
  .headerContainer {
    /* margin-left: 0; */
    border-radius: 10px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121619;
    color: white;
  }
  .home .headerContainer h1 {
    font-size: 40px;
    height: 30px;
    /* margin: 30px 0px; */
    color: white;
  }
  .home .headerContainer p {
    font-size: 30px;
    color: white;
  }
  /* .headerContainer button {
    background-color: white;
    color: #121619;
    margin-bottom: 30px;
  } */
}


.billContainer {
  width: auto;
  margin-left: 30px;
  padding-left: 30px;
  /* position: absolute;

        left: 60%; */
}

 .billContainer h1 {
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 40px;
  font-family: 'Poppins';
  color: white;
}

.billContainer p {
  justify-content: center;
  align-items: center;
  /* font-weight: bold; */
  /* font-size: 70px; */
  font-family: 'Poppins';
  color: grey;

}


.cardContainer {
  width: auto;
  margin-left: 30px;
  position: absolute;

        left: 60%;
}

 .cardContainer h1 {
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 40px;
  font-family: 'Poppins';
  color: white;
}

.cardContainer p {
  justify-content: center;
  align-items: center;
  /* font-weight: bold; */
  /* font-size: 70px; */
  font-family: 'Poppins';
  color: grey;

}


.part{
  /* height: 90vh; */
  /* display: flex; */
  justify-content: center;
  /* align-items: left; */
  /* flex-direction: column; */
  
  /* background-color: #07090a;  */
  /* margin-top: 100px; */
  padding: 15px;
  margin-top: 20px;
  margin-right: 50px;
  padding-bottom: 20px;
}


.slider {
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  /* height: 500px; */
  /* margin: auto; */
  /* margin-bottom: 30px; */
  overflow: hidden;
  /* position: relative; */
  /* width: 95%; */

}
.slide{
  height: 200px;
}

.slide-track {
  display: inline-block;
  animation: move 60s linear infinite;
  white-space: nowrap;
}

.slide-track > * {
  padding: 7vw;
  display: inline-block;
  
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.slider::before,
.slider::after {
  /* background: linear-gradient( */
   
  content: "";
  height: 50px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}
.slide{
  height: 30px;
}

.partners{
  font-weight: 500;
  font-size: 40px;
  font-family: 'Poppins';
  color: white;
  text-align: center;
}

