.flex-containe {
    display: inline-flex;
    justify-content: space-between;
    /* background-color: black; */
    /* padding: 10px; */
    width: 94%;
    justify-content: center;
padding-right: 100px;
  }

.sta {
  font-family: 'Poppins';
  color: #ffffff; 
  font-weight: 500;
  font-size: medium;
  padding: 20px;
  }
  .sta .p {
    font-family: 'Poppins';
    font-size: small;
  }
  .text-gradient {
    font-family: 'Poppins';
    background: radial-gradient(
      64.18% 64.18% at 71.16% 35.69%,
      #def9fa 0.89%,
      #bef3f5 17.23%,
      #9dedf0 42.04%,
      #7de7eb 55.12%,
      #5ce1e6 71.54%,
      #33bbcf 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }


.btnn {
  
    /* padding: 18px; */
    padding-left: 35px;
    padding-right: 35px;
    /* margin-bottom : 40px; */
    border-radius: 35px;
    font-weight: 560;
    outline: none;
    border: none;
    font-size: 20px;
    color: black ;
    cursor: pointer;
    background: radial-gradient(
      64.18% 64.18% at 71.16% 35.69%,
      #def9fa 0.89%,
      #bef3f5 17.23%,
      #9dedf0 42.04%,
      #7de7eb 55.12%,
      #5ce1e6 71.54%,
      #33bbcf 100%
  
    );
  }
  
  .btnn:hover {
    /* padding: 6px 18px; */
    padding: 18px;
    /* margin-top: 40px; */
    border-radius: 30px;
    transition: all 0.3s ease-out;
    background-color: transparent;
    /* color: #fff; */
    border-radius: 8px;
    border: 2px solid var(--primary);
    transition: all 0.3s ease-out;
  }
  
  .newss {
    background: linear-gradient(
      -168.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%
    );
    border-radius: 20px;
    max-width: 88%;
    max-height: 15%;
    padding-left: 20px;
    /* padding-right: 10px; */
  margin-left:68px ;
  padding-top: 35px;
  /* justify-content: center; */
  }
  .newss ul{
    list-style: none;
  }
  
   .h1news {
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Poppins';
    color: white;
    padding-left: 20px;
  }
  
  .pn {
    justify-content: center;
    align-items: center;
    /* font-weight: bold; */
    /* font-size: 70px; */
    font-family: 'Poppins';
    color: grey;
  padding-left: 20px;
  }
  .btnn {
    padding: 18px;
    padding-left: 25px;
    padding-right: 25px     ;
    margin-top: 40px;
    border-radius: 30px;
    font-weight: 560;
    outline: none;
    border: none;
    font-size: 15px;
    color: black ;
    cursor: pointer;
    background: radial-gradient(
      64.18% 64.18% at 71.16% 35.69%,
      #def9fa 0.89%,
      #bef3f5 17.23%,
      #9dedf0 42.04%,
      #7de7eb 55.12%,
      #5ce1e6 71.54%,
      #33bbcf 100%
    );
    text-decoration: none;
  }
  
  .btnn:hover {
    /* padding: 6px 18px; */
    padding: 18px;
    margin-top: 40px;
    border-radius: 30px;
    transition: all 0.3s ease-out;
    background-color: transparent;
    /* color: #fff; */
    border-radius: 8px;
    border: 2px solid var(--primary);
    transition: all 0.3s ease-out;
  }
  .hand{
    /* float: right; */
    /* position: absolute; */
    /* justify-content: end; */
    display: flex;
    justify-content: end;
    padding-top: 0;
  }
  .Opp {
    max-width: 80%;
    padding: 2rem;
    text-align: center;
  }
 
  .cardd {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 320px;
    width: 270px;
    border-radius: 8px;
    margin:  1rem;
    text-align: center;
    font-family: arial;
    background-color: #fff;
  }
  
  .pric {
    color: grey;
    font-size: 12.5px;
    padding-right: 16px;
    padding-left: 8px;
  }
  
  .cardd button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-top: 1rem;
  }
  
  .cardd button:hover {
    opacity: 0.7;
  }

  .testcardd {
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 220px;
    width: 270px;
    max-width: 320px;
    margin-top: 20px;
   /* margin-left: rem; */
border-radius: 18px;
/* margin-right: 1rem; */
    /* margin: 10rem; */
    text-align: center;
    font-family: arial;
    padding: 30px;
    /* border-right: 2rem; */
    /* border-left: 200px; */
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0.8577556022408963) 0%, rgba(0,1,2,1) 0%, rgba(0,1,2,1) 0%, rgba(1,17,35,1) 0%, rgba(0,2,4,0.9838060224089635) 0%, rgba(1,23,46,1) 0%, rgba(1,24,49,1) 0%, rgba(1,26,53,1) 0%, rgba(1,57,95,1) 100%, rgba(1,48,73,1) 100%, rgba(0,212,255,1) 100%, rgba(1,102,141,1) 100%, rgba(1,19,39,1) 100%, rgba(1,34,71,1) 100%);
  }
  
  .testpric {
    color: whitesmoke;
    /* font-size: 22px; */
  }
.tests{
  /* border: 20px; */
  /* margin-right: 40px; */
  /* justify-content: center; */
  margin-left:6.8rem ;
  /* margin-right:6 1rem; */
  display: inline-flex;
}

.prodss{
padding-bottom: 32px;
width: 230px;
height:180px;
padding-right: 20px;
padding-left: 30px;
/* padding-bottom: 0px; */
}

.cardd h2{
  /* background-color: red; */
  font-size: 20px;
  float: left;
  padding-left: 20px;
  padding-top: 17px;
  padding-bottom: 20px;
}
.pro-cont{
  display: inline-flex;
    justify-content: space-around;
    /* background-color: black; */
    /* padding: 10px; */
    /* width: 94%; */
    justify-content: center;
/* padding-right: 100px; */
padding-left: 5px;
padding-right: 5px;

}
.pric-list{
  color: black;
    font-size: 15px;
}